@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
body {
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, 
        #616161 20%,
        #9c9c9c 40%,
        #acacac 50%,
        #9b9b9b 60%,
        #6e6e6e 80%,
        #2c2c2c 100% 
    );
    background-size: 200% 200%;
    position: relative;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: fit-content;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    position: relative;
    margin: 0 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #f5e1e1;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 15px;
}

nav ul li a.nav-link-clicked {
    background-color: white;
    color: black;
}


/*
nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #d3c7c7;
    transition: 0.3s;
    transform: translateX(-50%);
}*/


nav ul a:hover{
    background-color: rgb(91, 91, 91);
    border-width: fit-content;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
}

.hamburger span {
    font-size: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f5e1e1;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 15px;
}

.nav-links a.nav-link-clicked {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 0 0 15px 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }
}

/* Main Content */
.main-content {
    display: flex;
    width: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    gap: 7%;
    color: #F8F9FA;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 0px 0px 200px 3px #7c7272;
    backdrop-filter: blur(5px);
}

/* Header */
.main-content h1 {
    font-size: 60px;
    text-align: center;
}

.main-content p {
    font-size: 30px;
    text-align: center;
}

/* Social Media Icons */
.social-media {
    display: flex;
    font-size: 40px;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-media a {
    color: white;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #d3c7c7;
}

/* Image Styling */
.image-container {
    padding: 20px 0;
}

.image-container img {
    max-width: 80%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(42, 42, 43, 0.5);
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

#icon-credit {
    padding-right: 10px;
}

/* About Me Section */
.about-me-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SamsungOne', sans-serif;
    backdrop-filter: blur(5px);
}

.about-me-wrapper h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    border: 1px rgb(97, 97, 97) solid;
    box-shadow: 10px 10px 20px rgba(42, 42, 43, 0.5);
}

/* rows */
.row-section {
    display: flex;
    height: fit-content;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

/* Left Side Content */
.text-section {
    width: 40%;
    padding: 5%;
    font-size: 19px;
    line-height: 150%;
}

/* Right Side Image */
.image-container {
    width: 40%;
    height: auto;
}

.row-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

hr {
    color: rgb(51, 49, 49);
    display: none;
}

/* Contact Me Page */
.contact-container {
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.user-input {
    width: fit-content;
}

.contact-container input {
    height: 40px;
    width: 300px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px black solid;
    font-size: 16px;
}

.contact-container textarea {
    box-sizing: border-box;
    height: 300px;
    width: 650px;
    padding: 5px;
    background-color: transparent;
    border: 1px black solid;
    font-size: 20px;
    padding: 15px;
}

.contact-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact-container .name-email-inputs {
    width: fit-content;
}

.contact-container input:focus, .contact-container textarea {
    outline: none;
}

.contact-container input:not(:focus):hover, .contact-container textarea:not(:focus):hover {
    color: #444444;
}

.user-input {
    margin-top: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

#button-div button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

.mail-icon-div .material-symbols-outlined {
    font-size: 150px; /* Try increasing this */
}

@media(max-width: 1200px) {
    .about-me-container {
        width: 80%;
    }
}

@media(max-width: 750px) {
    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    nav {
        width: fit-content;
    }

    nav ul a {
        margin: 10px 30px 50px 10px; 
        font-size: 10px;
        padding: 0;
        margin: 25px;
    }

    .contact-container {
        flex-direction: column;
        max-width: 80%;
        position: fixed;
    }

    .about-me-container {
        width: 90%;
        box-sizing: border-box;
        text-wrap: no-wrap;
    }

    .text-section {
        font-size: small;
        width: 120%;
        border-radius: 15px;
        padding: 0;
        margin: 0;
    }

    .image-container {
        width: 60%;
        height: auto;
    }

    /* Contact Page */
    .coctact-body {
        gap: 55px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .contact-container {
        display: flex;
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-container input {
        width: 290px;
        font-size: 17px;
    }

    .contact-container label {
        display: block;
        clear: both;
    }

    .contact-container textarea {
        width: 300px;
        height: 240px;
        margin: 0;
        font-size: 17px;
    }

    .contact-container h1 {
        font-size: 35px;
        margin: 0;
    }

    .user-input {
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: static;
        flex-direction: column;
        justify-content: center;    
    }

    .main-nav {
        position: absolute;
        top: 200px;
    }

    .main-content {
        width: 90%;
        padding: 20px;
    }

    .main-content header h1 {
        font-size: 35px;
    }

    .main-content p {
        font-size: 20px;
    }

    .main-content .social-media {
        font-size: 25px;
    }
}