@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d7d2cc;
    background: linear-gradient(0deg, #d0d0d0 0%, #b0b0b0 15%, #9c9c9c 35%, #808080 55%, #616161 75%, #2c2c2c 100%);
    background-attachment: fixed;
    position: relative;
}


/* Container */

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */

.nav-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 1em;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #f5f5f5;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 10px;
}

.nav-link-active {
    background-color: white;
    color: black;
}

/* nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #d3c7c7;
    transition: 0.3s;
    transform: translateX(-50%);
} */

nav ul a:hover {
    background-color: rgb(53, 53, 53);
    border-width: fit-content;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
}

.hamburger span {
    font-size: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f5e1e1;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 15px;
}

.nav-links a.nav-link-clicked {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 0 0 15px 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }
}

/* Main Content */
.main-content {
    display: flex;
    height: 60%;
    width: 70%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    gap: 7%;
    color: #F8F9FA;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(42, 42, 43, 0.5);
    backdrop-filter: blur(5px);
}

/* Header */
.main-content h1 {
    font-size: 60px;
    text-align: center;
}

.main-content p {
    font-size: 30px;
    text-align: center;
}

.main-content header {
    padding: 20px;
}

/* Social Media Icons */
.social-media {
    display: flex;
    font-size: 40px;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-media a {
    color: white;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #d3c7c7;
}

/* Image Styling */
.image-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.image-container img {
    width: 65%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(42, 42, 43, 0.5);
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

#icon-credit {
    padding-right: 10px;
}

/* About Me Section */
.about-me-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SamsungOne', sans-serif;
    backdrop-filter: blur(5px);
}

.about-me-wrapper h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    color: #f8f9fae7;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    border: 1px rgb(97, 97, 97) solid;
    box-shadow: 10px 10px 20px rgba(42, 42, 43, 0.5);
}

/* rows in about me */
.row-section {
    display: flex;
    height: fit-content;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/* Left Side Content */
.text-section {
    width: 40%;
    padding: 5%;
    font-size: 19px;
    line-height: 150%;
}

/* Right Side Image */
.image-container {
    width: 40%;
    height: auto;
}

.row-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

hr {
    color: rgb(51, 49, 49);
    display: none;
}


/* Tools Section */


#tools-section{
    display: flex;
    margin-top: 200px;
    box-sizing: border-box;
}

.tools-container span {
    display: flex;
    justify-content: center;
}


.tools-title{
    font-size: 20;
    font-weight: 600;
    color: #414141;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.language-icons-container {
    display: flex;
    width: auto;
    height: 80px;
    justify-content: center;
}

.language-icons-container svg{
    width: 80px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(42, 42, 43, 0.5);
    border-radius: 10px;
    margin: 0px 10px;
}

/* Contact Me Page */
.contact-container {
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.contact-container input {
    height: auto;
    width: 300px;
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 50px rgba(42, 42, 43, 0.5);
    background-color: transparent;
    font-size: 16px;
}

.contact-container textarea {
    box-sizing: border-box;
    height: 200px;
    width: 680px;
    padding: 5px;
    background-color: transparent;
    border: none;
    box-shadow: 10px 10px 50px rgba(42, 42, 43, 0.5);
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
}

.contact-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact-container .name-email-inputs {
    display: flex;
    width: fit-content;
}

.contact-container input:focus, .contact-container textarea {
    outline: none;
}

.contact-container input:not(:focus):hover, .contact-container textarea:not(:focus):hover {
    color: #444444;
}

.user-input {
    margin-top: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 18px;
}

#button-div button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

/* Projects Page */
.projects-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px
}

.cards-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
}

.projects-container .card {
    height: 300px;
    width: 450px;
    border-radius: 1.5em;
    transition: 0.5s;
    box-shadow: 1px 1px 5px rgba(42, 42, 43, 0.5);
}

.projects-container .card:hover {
    height: 350px;
    width: 470px;
    box-shadow: 10px 10px 20px rgba(42, 42, 43, 0.5);
    position: relative;
}

.card .project-title {
    text-align: center;
}

hr {
    width: 100%;
    color: red;
    display: block;
}

@media(max-width: 1450px) {
    .main-content {
        width: 80%;
    }

    .main-content h1 {
        font-size: 40px;
    }

    .main-content p {
        font-size: 25px;
    }

    #projects-section .card{
        width: 320px;
    }


}

@media(max-width: 1100px){
    .projects-container .cards-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 900px) {
    .about-me-container {
        width: 80%;
    }

    .main-content h1 {
        font-size: 35px;
    }

    .main-content{
        padding: 20px;
    }

    .main-content p {
        font-size: 20px;
    }
    
    .main-content .image-container{
        width: 250px;
        height: 100%;
    }
}

@media(max-width: 750px) {
    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    nav {
        width: fit-content;
    }

    nav ul a {
        margin: 10px 30px 50px 10px; 
        font-size: 10px;
        padding: 0;
        margin: 25px;
    }

    .contact-container {
        flex-direction: column;
        max-width: 80%;
        position: fixed;
    }

    .about-me-container {
        width: 80%;
        height: 100vh;
        max-height: 750px;
        box-sizing: border-box;
        text-wrap: no-wrap;
    }

    .text-section {
        font-size: small;
        width: 120%;
        border-radius: 15px;
        padding: 0;
        margin: 0;
    }

    .image-container {
        width: 60%;
        height: auto;
    }

    /* Contact Page */
    .coctact-body {
        gap: 55px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .contact-container {
        display: flex;
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-container input {
        width: 290px;
        font-size: 17px;
    }

    .contact-container label {
        display: block;
        clear: both;
    }

    .contact-container textarea {
        width: 300px;
        height: 240px;
        margin: 0;
        font-size: 17px;
    }

    .contact-container h1 {
        font-size: 35px;
        margin: 0;
    }

    .user-input {
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: static;
        flex-direction: column;
        justify-content: center;    
    }

    .main-content {
        width: 90%;
        padding: 20px;
    }

    .main-content header h1 {
        font-size: 35px;
    }

    .main-content p {
        font-size: 20px;
    }

    .main-content .social-media {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    /* Navigation Bar */
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: auto;
    }

    nav ul a {
        margin: 5px 15px 25px 5px; 
        font-size: 12px;
        padding: 0;
    }

    /* Contact Page */
    .contact-container {
        flex-direction: column;
        max-width: 400px;
        position: relative;
    }

    .contact-container input {
        width: 250px;
        font-size: 14px;
    }

    .contact-container label {
        display: block;
    }

    .contact-container textarea {
        width: 260px;
        height: 200px;
        font-size: 14px;
    }

    .contact-container h1 {
        font-size: 28px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .user-input {
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    /* About Me Section */
    .about-me-container {
        width: 400px;
        height: 100vh;
    }

    .row-section {
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .about-me-wrapper h1 {
        font-size: 35px;
    }

    .text-section {
        font-size: 14px;
        width: 100%;
        padding: 10px;
    }

    #about-me-section .image-container {
        width: auto;
        height: auto;
    }

    #about-me-section .image-container img {
        width: 150px;
        height: 100%;
    }

    /* Main Content */
    
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 370px;
        padding: 15px;
        margin: 0;

    }

    .main-content .image-container{
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .main-content .image-container img {
        width: 175px;
        height: auto;
    }


    .main-content header h1 {
        font-size: 30px;
    }

    .main-content p {
        font-size: 16px;
    }

    .main-content .social-media {
        font-size: 20px;
    }

    /*Tools Section */

    #tools-section {
        margin: 125px 0 125px 0
    }
    .tools-container{
        max-width: 400px;
        height: auto;
    }

    .tools-container span {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .tools-container h2 {
        font-size: 20px;
        font-weight: 500;
        margin: none;
        padding: 7px;
    }

    .language-icons-container {
        max-width: 100%;;
    }
}