/* Global Styles */
body {
    font-family: '', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, 
        #616161 20%,
        #9c9c9c 40%,
        #acacac 50%,
        #9b9b9b 60%,
        #6e6e6e 80%,
        #2c2c2c 100% 
    );
background-size: 200% 200%;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: fit-content;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}



nav ul a {
    position: relative;
    margin: 0 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #f5e1e1;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 15px;
}

nav ul li a.nav-link-clicked {
    background-color: white;
    color: black; /* Add this to see the text color change as well */
}

nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #d3c7c7;
    transition: 0.3s;
    transform: translateX(-50%);
}

/*
nav ul a:hover{
    background-color: rgb(91, 91, 91);
    border-width: fit-content;
    transition: 0.3s;
}
    */
 
nav ul a:hover::after {
    width: 100%;
}


/* Main Content */
.main-content {
    display: flex;
    width: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    gap: 7%;
    color: #F8F9FA;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 0px 0px 200px 3px #7c7272;
    backdrop-filter: blur(5px);
}

/* Header */
.main-content h1 {
    font-size: 50px;
    text-align: center;
}

.main-content p {
    font-size: 25px;
    text-align: center;
}

/* Social Media Icons */
.social-media {
    display: flex;
    font-size: 40px;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-media a {
    color: white;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #d3c7c7;
}

/* Image Styling */
.image-container {
    padding: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(42, 42, 43, 0.5);
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

#icon-credit {
    padding-right: 10px;
}

/* About Me Section */
.about-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SamsungOne', sans-serif;
    backdrop-filter: blur(5px);
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    border: 1px rgb(97, 97, 97) solid;
    box-shadow: 10px 10px 20px rgba(42, 42, 43, 0.5);
}

/* rows */
.row-section {
    display: flex;
    height: fit-content;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

/* Left Side Content */
.text-section {
    width: 40%;
    padding: 5%;
    font-size: 19px;
    line-height: 150%;
}

/* Right Side Image */
.image-container {
    width: 40%;
    height: auto;
}

.row-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

hr{
    color: rgb(51, 49, 49);
    display: none;
}

/* Contact Me Page */

.contact-container{
    border-radius: 15px;
    width: fit-content;
}

.contact-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 50px;
    width: fit-content;
}

.user-input{
    width: fit-content;
}

.contact-right input{
    height: 40px;
    width: 300px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px black solid;
    font-size: 16px;
}

.contact-right textarea{
    box-sizing: border-box;
    height: 300px;
    width: 650px;
    padding: 5px;
    background-color: transparent;
    border: 1px black solid;
    font-size: 20px;
    padding: 15px;
}
.contact-right input:focus, .contact-right textarea{
    outline: none;
}

.contact-right input:not(:focus):hover, .contact-right textarea:not(:focus):hover{
    color: #444444;
}

.user-input{
    margin-top: 60px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

#button-div button{
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

