body{
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav{
    width: 100%;
    max-width: 100%;
    padding: 10px 0; 
    margin: 30px 100px 0 0;
}

nav ul{ 
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul a{
    position: relative;
    margin: 0 60px;
    background-color: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    border: solid transparent;
}

nav ul a:link, nav ul a:visited{
    color: black;
}

nav ul a::after {
    content: "";  /* Creates an empty element */
    position: absolute;  /* Allows precise positioning */
    left: 50%;  /* Starts from the center */
    bottom: 0;  /* Places it right below the link */
    width: 0;  /* Initially hidden */
    height: 3px;  /* Sets underline thickness */
    background-color: black;  /* Makes it visible */
    transition: 0.3s;  /* Adds smooth animation */
    transform: translateX(-50%);  /* Ensures center alignment */
}

nav ul a:hover::after {
    width: 100%;  /* Expands the underline */
}

.header-content{
    display:flex;
    position: relative;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}

.header-content h1{
    font-size: 50px;
    padding: 0;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: right;
}