@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --hero-main-font : "Archivo Black";
    --hero-secondary-font : "Archivo Black";
    --about-me-main-font : "Cabin";
    --paragraph-main-font : "Space Grotesk"
}

/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    position: relative;
    width: auto;
    min-height: fit-content;
    height: 100%;
    color: #e6e6e6 ;
}
#scroll-watcher{
    position: absolute;
    top: 0;
    left: 0;
}
#scroll-watcher::after{
    content : '';
    background-color: green;
    position: fixed;
    width: 0;
    height: 5px;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    display: block;
    z-index: 10;

}

@keyframes scroll-watcher{
    to{width: 100%;};
}


/* Navigation Bar */

nav {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    background-color: #303030;
    border-radius: 1em;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    top: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #f8eeee;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 10px;
}

.nav-link-active {
    background-color: white;
    color: black;
}

nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20%;
    height: 100%;
    background-color: transparent;
    transition: 0.3s;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 15px;
}

nav ul a:hover::after {
    background-color: rgb(53, 53, 53);
    width: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
}

.hamburger span {
    font-size: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f5e1e1;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 15px;
}

.nav-links a.nav-link-clicked {
    background-color: white;
    color: black;
}

/* Hero Page */
#home-section{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    background: linear-gradient(0deg, #121212 0%, #353535 50%, #121212 100%);
    color: #F8F9FA;
    box-shadow: #121212 100px;
    font-family: "Archivo Black", sans-serif;
    animation: fade-out linear;
    animation-timeline: scroll();
    animation-range-start: contain;
    animation-range-end: 400px;
}
header{
    display: flex;
    flex-direction: row;
}


#home-section .contact-me-button, button{
    font-size: medium;
    padding: 0.6em 1em 0.6em 1em;
    border-radius : 50px;
    color: black;
    background-color: #c2baba;
    border: none;
    font-family: var(--paragraph-main-font);
    box-shadow: 6px 6px#121212;
    cursor: pointer;
    text-decoration: none;
}
#home-section .contact-me-button:hover, button:hover{
    background-color: rgb(215, 207, 207);
    box-shadow:8px 10px#121212;
    transform: translateY(-2px);

}

#home-section .contact-me-button:active, button:active{
    background-color: #a9a4a4;
    box-shadow: none;
    transform: none;
}

/* #home-section::after{
    content : '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 5px solid green;
    bottom: 10%;
} */


#home-section h1 {
    font-size: 5em;
    text-align: center;
    letter-spacing: 2.5px;
    position: relative;
    margin-bottom: 0.4em;
}


#home-section h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    color: rgb(70, 198, 70);
    position: relative;
    overflow:hidden;
    max-width: fit-content;
    max-height: fit-content;
    text-wrap: nowrap;

    animation: typing forwards steps(25, start) 2s;
}

@keyframes fade-out{
    from{
        opacity: 100%;
    }
    to{
        opacity : 0%;
    }
}

@keyframes typing{
    0%{
        border-right: 2px solid white;
        width: 0%;
    }
    70%{
        border-right: 2px solid white;
    }
    80%{
        border: none;
    }
    100%{
        width: 100%;
    }
}


#home-section h2::after{
    content: '';
    width: 2px;
    top: 0;
    bottom: 0;
    background: #a4a1a1;
    position: absolute;
    animation: blink infinite 700ms ease;
}

@keyframes blink{
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}

#my-mugshot{
    width: fit-content;
}

#my-mugshot img{
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: #4e4e4e 7px 7px 7px;
    aspect-ratio: 1;
}


/* Social Media Icons */
.social-media {
    display: flex;
    font-size: 40px;
    justify-content: center;
    gap: 15px;
    margin-top: 0.5em;
}

.social-media a {
    color: rgb(239, 231, 231);
    transition: color 0.3s
}

.social-media a:hover {
    color: #d3c7c7;
}


#icon-credit {
    padding-right: 10px;
}

/* About Me Section */

#about-me-section{
    min-height: fit-content;
}

#about-me-section h1 {
    font-size: 4.5em;
    text-align: center;
    margin-top: 5%;
    font-family: var(--paragraph-main-font);
    letter-spacing: 2px;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-end: exit;
}

@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: fit-content;
    margin: auto;
}

.about-me-container p, h2{
    font-family: var(--paragraph-main-font);
}

.about-me-paragraph{
    font-weight: 300;
}

.about-me-row-header{
    font-weight: 700;
    font-size: 2.5em;
    text-wrap: wrap;
    height: fit-content;
}

/* rows in about me */
.row-section {
    width: fit-content;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 3em;
    margin-bottom: 3em;
    transition: all 200ms;
    animation : right-to-left linear forwards;
    animation-timeline: view();
    animation-range-end: 60vh;
}

.row-section:nth-child(1){
    transform: translateX(-100px);
}
.row-section:nth-child(3){
    transform: translateX(100px);
}

.row-section:hover h2{
    color: rgb(82, 213, 82);
}

@keyframes right-to-left{
    from{
        scale: 0.3;
        opacity : 0%;
        transform: translateY(-200px);
    }
}

.text-section {
    width: 40%;
    padding: 5%;
    font-size: 21px;
    line-height: 150%;
}

.about-me-image {
    width: 15%;
    height: auto;
    border-radius: 15px;
    
}

.about-me-image img{
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Tools Section */


#tools-section{
    display: flex;
    flex-direction: column;
    margin: 200px auto 200px auto;
    width: 45%;
    min-height: 180px;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.tools-container span {
    display: flex;
    justify-content: center;
}


.tools-title{
    font-size: 20;
    font-weight: 600;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.language-icons-container {
    min-height: fit-content;
    text-wrap: nowrap;
    justify-content: center;
    animation: language-icons-ltr linear infinite 8s;
}


.language-icons-container img{
    width: 80px;
    height: 80px;
    margin: 0px 10px;
}


@keyframes language-icons-ltr {
    from { transform: translateX(0); }
    to   { transform: translateX(-1000px); }
}

.language-icons-container img:nth-child(3n) {
    animation: icon-jump 2.5s infinite;
}

@keyframes icon-jump {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(-22px); }
    40%  { transform: translateY(0); }
    55%  { transform: translateY(-8px); }
    70%  { transform: translateY(0); }
    80%  { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}


/* Contact Me Page */

#contact-section{
    height: 600px;
    width: 100%;
    margin-top: 500px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-container input {
    height: auto;
    width: 300px;
    margin: 0 10px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    background-color: #1b1b1b;
    color: #dad8d8;
}

.contact-container textarea {
    box-sizing: border-box;
    height: 200px;
    width: 680px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 15px;
    background-color: #1b1b1b;
    color: #dad8d8;

}

.contact-container h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    width: 100%;
}

.contact-container .name-email-inputs {
    display: flex;
    width: fit-content;
}


.user-input {
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 18px;
}

#contact-section button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-color: #989393;
    border: none;
    border-radius: 3px;
}

/* Projects Page */

#projects-section{
    width: auto;
    max-width: 100vw;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 10px;
}

.card {
    height: fit-content;
    width: 25%;
    border-radius: 1.5em;
    transition: 0.5s ease;
    padding: 10px;
    margin: 0 10px 0 10px;
}

.card:hover .project-card-header a{
    color: rgb(115, 236, 115);
}

.project-card-header{
    border-radius: 10px;;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
    padding: 7px 20px 7px 20px;
    letter-spacing: 1px;
    position: relative;
    /* text-align: center; */
    background-color: #1d1d1d;

}

.project-card-header a{
    text-decoration: none;
    color: white;
    display: block;
}

.project-card-header a::after {
    content: "";
    position: absolute;
    right: 40px;
    width: 30px;
    height: 30px;
    background-image: url("images/icons/link.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.card-game-image{
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
}
.cards-container .card:hover {
    transform: scale(1.05);
    position: relative;
    background-color: #1d1d1d;
}

.project-description-container{
    font-size: 20px;
}

.project-card-footer{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    margin: 0;
    border-radius: 0 0 10px 10px;
    background-color: #1d1d1d;
}
.project-card-footer img{
    object-fit: contain;
}


@media(max-width : 2000px) {
    .about-me-container{
        width: 90%;
    }
    .row-section{
        margin: 2em 0 2em 0;
    }
}
@media(max-width: 1450px) {
    #home-section {
        width: 80%;
    }

    #home-section h1 {
        font-size: 40px;
    }

    #home-section p {
        font-size: 25px;
    }

    

    #projects-section .card{
        width: 320px;
    }

    #tools-section .tools-container img{
        width: 70px;
        height: auto;
    }


}

@media(max-width: 1100px){
    .projects-container .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .tools-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tools-section .language-icons-container {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 900px) {
    .about-me-container {
        width: 80%;
        box-sizing: border-box;
    }

    #home-section h1 {
        font-size: 35px;
    }

    #home-section{
        box-sizing: border-box;
        padding: 20px;
        height: 500px;
        display: flex;
        gap: 70px;

    }

    #home-section p {
        font-size: 20px;
    }
    
    #home-section .about-me-image
{
        width: auto;
        height: auto;
    }

    #home-section .about-me-image
 img {
        width: 250px;
        height: auto;
    }

    #tools-section h2 {
        font-size: 22px;
        margin: 0;
        padding: 10px;
    }

    #tools-section {
        margin: 100px 0 100px 0;
    }

    .user-input{
        margin: none;
    }

    .tools-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #projects-section {
        margin-bottom: 100px;
    }

}

@media(max-width: 750px) {
    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    nav {
        width: fit-content;
    }

    nav ul a {
        margin: 10px 30px 50px 10px; 
        font-size: 10px;
        padding: 0;
        margin: 25px;
    }

    .contact-container {
        flex-direction: column;
        max-width: 80%;
        position: fixed;
    }

    .about-me-container {
        width: 80%;
        height: 100vh;
        max-height: 750px;
        box-sizing: border-box;
        text-wrap: no-wrap;
    }

    .text-section {
        font-size: small;
        width: 120%;
        border-radius: 15px;
        padding: 0;
        margin: 0;
    }

    .about-me-image
 {
        width: 60%;
        height: auto;
    }

    /* Contact Page */
    .coctact-body {
        gap: 55px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .contact-container {
        display: flex;
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-container input {
        width: 290px;
        font-size: 17px;
    }

    .contact-container label {
        display: block;
        clear: both;
    }

    .contact-container textarea {
        width: 300px;
        height: 240px;
        margin: 0;
        font-size: 17px;
    }

    .contact-container h1 {
        font-size: 35px;
        margin: 0;
    }

    .user-input {
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: static;
        flex-direction: column;
        justify-content: center;    
    }

    #home-section {
        width: 90%;
        padding: 20px;
    }

    #home-section header h1 {
        font-size: 35px;
    }

    #home-section p {
        font-size: 20px;
    }

    #home-section .social-media {
        font-size: 25px;
    }
}

@media (max-width: 480px)
{
    .cards-container{
        flex-wrap: wrap;
    }

    .card{
        background-color: #1d1d1d;
        margin-bottom: 50px;
    }

    .project-card-header a::after{
        top: 5px;
        right: 10px;
    }

    #tools-section{
        margin-top: 100px;
        min-height: 250px;
        width: 100%;
    }

    #tools-section .tools-container{
        width: 80%;
        height: auto;
        overflow: hidden;
        margin: 0 auto 0 auto;
        flex-wrap: wrap;
    }

    #tools-section span{
        font-size: 15px;
        letter-spacing: 2px;
        flex-wrap: wrap;
    }
    
    #about-me-section h1{
        font-size: 2em;
    }

    .row-section{
        animation-range-end: 40vh;

    }
    .row-section:nth-child(1){
        transform: translateX(0);
    }
    .row-section:nth-child(3){
        transform: translateX(0);
    }

    #home-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home-section h1{
        font-size: 3em;
    }

    #home-section h2{
        font-size: larger;
    }

    #home-section .contact-me-button{
        font-size: small;
    }

    #my-mugshot{
        width: fit-content;
    }

    #my-mugshot img{
        margin-left: 70px;
        width: 60%;
    }
    .tools-container{
        display: flex;
        flex-direction: row;
    }

    .language-icons-container{
        margin-top: 30px;
    }
    

    /* Contact Page */

    #contact-section{
        min-height: 900px;
        margin-top: 0;
    }
    .contact-container {
        flex-direction: column;
        max-width: 400px;
        height: 100%;
        position: relative;
    }

    .contact-container input {
        width: 250px;
        font-size: 14px;
    }

    .contact-container label {
        display: block;
    }

    .contact-container textarea {
        width: 260px;
        height: 200px;
        font-size: 14px;
    }

    .contact-container h1 {
        font-size: 28px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .user-input {
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    .name-email-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}