body{
    background-color: #4A4A4A;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-top: 30px;
}

nav ul{ 
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul a{
    position: relative;
    margin: 0 60px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 1000;
    display: inline-block;
    padding: 10px;
    border: solid transparent;
}

nav ul a:link, nav ul a:visited{
    color: #d3c7c7;
}

nav ul a::after {
    content: "";  /* Creates an empty element */
    position: absolute;  /* Allows precise positioning */
    left: 50%;  /* Starts from the center */
    bottom: 0;  /* Places it right below the link */
    width: 0;  /* Initially hidden */
    height: 3px;  /* Sets underline thickness */
    background-color: #d3c7c7;  /* Makes it visible */
    transition: 0.3s;  /* Adds smooth animation */
    transform: translateX(-50%);  /* Ensures center alignment */
}

nav ul a:hover::after {
    width: 100%;  /* Expands the underline */
}

.header-content{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-weight: bold;
    gap: 7%;
    color: #dbd1d1;
}

.header-content h1{
    font-size: 50px;
    padding: 0;
    left:25%;
}

.header-content p{
    font-size: 25px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: right;
    
}

.image-container img{
    width: 400px;
    height: auto;
    margin: 10px;
    border: black solid;
    border-radius: 50% 20%;
    right: 30%;
    top: 30%;
}

.social-media{
    display: flex;
    font-size: 40px;
    justify-content:center;
    gap: 15px;
    margin-top: 10px;
}

.social-media a:visited, .social-media a:link{
    color: white;
}

#icon-credit{
    padding-right: 10px;
}